[submodule "libraries/contrib/json"]
	path = libraries/contrib/json
	url = https://github.com/PUBLIQNet/json.git
[submodule "libraries/contrib/pbc"]
	path = libraries/contrib/pbc
	url = https://github.com/PUBLIQNet/pbc.git
[submodule "libraries/contrib/fc"]
	path = libraries/contrib/fc
	url = https://github.com/cyvasia/fc.git
